.App { 
  background-color: #3b3a3b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* Add Expenses Part */
.InputContainer {
  background-color: #a892ee;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  width: 600px;
}

.FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FlexEnd {
  display: flex;
  justify-content: flex-end;
}

.ExpenseBTN {
  background-color: #41045b;
  border-radius: 15px;
  color: white;
  margin: 10px;
  padding: 15px;
  font-size: 13px;
}

/* Filter By Year Part */
.FilterYear {
  background-color: #1f1f1f;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  width: 600px;
}

.FilterYearSLCT {
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  width: 150px;
  text-align: center;
}

.FilterYearTest {
  padding-top: 15px;
}